<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!--  https://docs.spring.io/spring/docs/4.2.x/spring-framework-reference/html/xsd-configuration.html-->


  <!--  </bean>-->
  <!--  <bean id="connectionPool" class="by.epam.coursira.pool.ConnectionPoolImpl">-->
  <!--    <constructor-arg type="int" value=""/>-->
  <!--    <constructor-arg type=""-->

  <!--  </bean>-->

  <!--  <bean id="courseDao" class="by.epam.coursira.dao.CourseDao">-->
  <!--    <constructor-arg ref="pool"/>-->
  <!--  </bean>-->

  <!--  <bean id="ctudentDao" class="by.epam.coursira.dao.StudentDao">-->
  <!--    <constructor-arg ref="pool"/>-->
  <!--  </bean>-->

  <!--  <bean id="cserDao" class="by.epam.coursira.dao.UserDao">-->
  <!--    <constructor-arg ref="pool"/>-->
  <!--  </bean>-->
</beans>
